{% extends "danceapp/layout.html" %}

{% block title %}Change Password {% endblock %}

{% block body %}
    <div class="row justify-content-center">

        <div class="col col-sm-8 col-md-6 col-lg-5 d-flex flex-column align-self-center justify-content-center border rounded py-4 my-0 my-sm-4">

            <h2 class="text-center title pt-1 pb-3">Change Password</h2>

            {% for message in messages %}
                <div class="mx-4 alert {{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            <form action="{% url 'change_password' %}" method="POST" class="px-4">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label name="{{ field.name }}" for="{{ form.field.id_for_label }}">{{ field.label }}</label>    
                        <small>{{ field.help_text }}</small>
                        {{ field }}
                        <div class="pt-2 text-danger">
                            <small>{{ field.errors }}</small>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-center">
                    <input class="btn btn-primary btn-block" type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>

{% endblock %}





