{% extends "danceapp/layout.html" %}
{% load static %}

{% block title %}Home {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-center">
        <div class="d-flex">
            <i class="fas fa-filter pr-4 filter-icon pt-1" style="color: #f9cf00;"></i>

            <div id="titleContainer" class="form-inline">
                <!-- <button class="btn btn-sm btn-primary mr-2" id="clear_title">Clear title</button> -->
                <!-- <input id="title_input" class="form-control mr-sm-2" type="search" placeholder="Search titles" aria-label="Search">
                <button id="search_title" class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search title" aria-label="Search title" id="title_input">
                    <div class="input-group-append">
                        <button class="btn btn-search" type="button" id="search_title">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- <button id="view_filters" class="btn btn-sm btn-outline-primary ml-2">View Filters</button> -->
            </div>
        </div>
    </nav>

    <div class="row justify-content-center">
        <!-- FILTERS SIDE BAR -->
        <div class="filterContainer filters-sidebar d-block mx-auto p-3" style="width: 200px;">
            <!-- Style -->
            <div class="form-group pt-3">
                <p class="filter-title mb-2"><i class="fas fa-filter pr-1" style="color: #f9cf00;"></i>Style</p>
                <select class="form-control" id="search_style">
                    <option value="" selected>All</option>
                    {% for style in styles %}
                    <option value="{{ style.pk }}">{{ style.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Teacher -->
            <div class="form-group pt-3">
                <p class="filter-title mb-2"><i class="fas fa-filter pr-1" style="color: #f9cf00;"></i>Teacher</p>
                <select class="form-control" id="search_teacher">
                    <option value="" selected>All</option>
                    {% for teacher in teachers %}
                    <option value="{{ teacher.pk }}">{{ teacher.user.first_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Level -->
            <div class="form-group pt-3">
                
                <p class="filter-title mb-2"><i class="fas fa-filter pr-1" style="color: #f9cf00;"></i>Level</p>
                <select id="search_level" class="form-control">
                    <option value="" selected>All</option>
                    {% for value, level in levels %}
                    <option value="{{ value }}">{{level}}</option>
                    {% endfor %}
                </select>
            </div>
            
        </div>

        <div class="d-flex flex-wrap justify-content-center align-items-center col-12 col-lg-10 containerVideos" id="videoContainer">
            {% for video in videos %}
                <a class="text-decoration-none" href="{% url 'video' video.pk %}">
                    
                    <div class="card m-2 text-dark card-box-shadow border-0" style="width: 18rem;">
                        
                            <img src="{{ video.thumbnail_url }}" class="card-img-top card-thumbnail" alt="Image for {{ video.title }}">
                        
                            <div class="card-homepage card-body">
                            
                                <div class="card-video-title card-text font-weight-bold text-left d-flex align-items-center px-3">
                                    {{ video.title }}
                                </div>
                                <div class="card-subtext d-flex justify-content-between align-items-center px-3 bg-light">
                                    <div><i class="far fa-calendar-alt"></i> {{ video.class_date|date:"d/m/y"}} </div>
                                    <div><i class="fab fa-deezer"></i> {{ video.get_level_display }}</div>
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        {% for teacher in video.teacher.all %}
                                            <div class="pb"><i class="fas fa-user pr-1"></i>{{ teacher }}</div>
                                        {% endfor %}</div>
                                </div>    
                            </div>

                    </div>
                </a>
            {% endfor %}
        </div>    
        
    </div>
    <script type="text/javascript">
        window.onresize = screenWidth;
        window.onload = screenWidth;

        function screenWidth() {
            if (window.innerWidth <= 1199) {
                document.getElementsByClassName("filterContainer")[0].classList.remove('d-block');
                document.getElementsByClassName("filterContainer")[0].classList.add('d-none');
            } else {
                document.getElementsByClassName("filterContainer")[0].classList.remove('d-none');
                document.getElementsByClassName("filterContainer")[0].classList.add('d-block');
            }
        }    
    </script>
{% endblock %}


{% block script %}
<script src="{% static 'danceapp/videos.js' %}"></script>
{% endblock %}