{% extends "danceapp/layout.html" %}

{% block title %}Home {% endblock %}

{% block body %}

    <h2 class="text-center title">Homepage</h2>

    <a href="{% url 'new_video' %}">New Video</a>
    <a href="{% url 'logout' %}">Logout</a>

    <div class="row justify-content-center text-center">
        {% for video in videos %}


            <a class="text-decoration-none" href="{% url 'video' video.pk %}">
                <div class="card" style="width: 18rem;">
                    <img src="{{ video.thumbnail_url }}" class="card-img-top" alt="Image for {{ video.title }}">
                    <div class="card-body">
                        <p class="card-text">{{ video.title }}</p>
                    </div>
                </div>
            </a>

        {% empty %}
            No videos found.
        {% endfor %}
    </div>
    


{% endblock %}