{% extends "danceapp/layout.html" %}
{% load static %}

{% block title %}Home {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-center">
        <div class="d-flex">
            
            <button class="btn" type="button" id="filter-toggle">
                <i class="fas fa-filter"></i>
            </button>

            <div id="titleContainer" class="form-inline">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search title" aria-label="Search title" id="title_input">
                    <div class="input-group-append">
                        <button class="btn btn-pink" type="button" id="search_title" name="Search title">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="row justify-content-center">
        <!-- FILTERS SIDE BAR -->
        <div id="filter-container" class="filters-sidebar d-none mx-auto">
            <!-- Style -->
            <div class="form-group filter-section">
                <div class="filter-label">Style</div>
                <select class="form-control" id="search_style">
                    <option value="" selected>All</option>
                    {% for style in styles %}
                        <option value="{{ style.pk }}">{{ style.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Steps -->
            <div class="form-group filter-section d-none" id="steps">
                <div class="filter-label">Step</div>
                <select class="form-control" id="search_step">
                    <option value="" selected>All</option>
                    {% for step in steps %}
                        <option value="{{ step.pk }}">{{ step.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Teacher -->
            <div class="form-group filter-section">
                <div class="filter-label">Teacher</div>
                <select class="form-control" id="search_teacher">
                    <option value="" selected>All</option>
                    {% for teacher in teachers %}
                        <option value="{{ teacher.pk }}">{{ teacher.user.first_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Level -->
            <div class="form-group filter-section">
                <div class="filter-label">Level</div>
                <select class="form-control" id="search_level">
                    <option value="" selected>All</option>
                    {% for value, level in levels %}
                        <option value="{{ value }}">{{level}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="d-flex flex-wrap justify-content-center align-items-center col-12 col-lg-10 containerVideos" id="videoContainer">
            
        </div>    
        
    </div>
{% endblock %}


{% block script %}
<script type="module" src="{% static 'danceapp/js/videos.js' %}"></script>
{% endblock %}