{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Dance app{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'danceapp/styles.css' %}">
        <script src="https://kit.fontawesome.com/ee1e4d6724.js" crossorigin="anonymous"></script>
        <script src="{% static 'danceapp/notifications.js' %}"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <!-- Other colours: #f19f4d
        OLD YELLOW - #f9cf00 -->
        
        <nav class="navbar navbar-expand-lg navbar-light align-items-center" style="background-color: #4484ce;">
            <span style="color: #FF8CC6;" class="navbar-brand brand-name mb-0 h1">dance</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a style="color: #d9d9d9;" class="nav-link" href="{% url 'index' %}">All Videos</a>
                    </li>
                        {% if user.is_teacher or user.is_staff %}
                        <li class="nav-item">
                            <a style="color: #d9d9d9;" class="nav-link" href="{% url 'new_video' %}">Add Video</a>
                        </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <ul class="navbar-nav justify-content-end">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a style="color: #d9d9d9;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user pr-1" aria-hidden="true"></i><strong> {{ user.username }}</strong>
                            </a>
                            
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                            </div>
                        </li>
                        
                    {% else %}
                        <a style="color: #d9d9d9;" class="nav-link mx-lg-2" href="{% url 'login' %}">Login</a>
                        <a style="color: #d9d9d9;" class="nav-link mx-lg-2 " href="{% url 'register_student' %}">Register</a>
                    {% endif %}
                </ul>
            </div>
            {% if user.is_authenticated %}
                <div class="notifications">
                    
                    <div class="my-auto mr-3 notification-icon" id="notification-toggle">
                        <i class="fas fa-bell"></i>
                        <span id="circle"></span>
                    </div>
                    
                    <div class="d-none notification-shadow" id="notification-section">
                        <div class="notification-scroll">
                            <div class="d-flex pb-2 justify-content-between border-bottom">
                                <div class="font-weight-bold">Notifications</div>
                                <a id="view-notifications" href="{% url 'notifications' %}">View all</a>
                            </div>
                            <div class="all-notifications">
                                <a href="{% url 'video' 10 %}" class="notification-item d-flex">
                                    <img class="circular-picture align-self-center" src="https://static.wikia.nocookie.net/warnerbros/images/3/3e/Hermione.jpg/revision/latest?cb=20120729103114&path-prefix=es" alt="profile pic of hermione">
                                    <div class="d-flex flex-column pl-3">
                                        <div class="notification-text">Hermione added a new comment on your video Salsa Basic Step for On2 (Beginner)</div>
                                        <div class="notification-time text-muted font-weight-light">1 hour ago</div>
                                    </div>
                                </a>
                                <a href="{% url 'video' 18 %}" class="notification-item d-flex">
                                    <img class="circular-picture align-self-center" src="https://hips.hearstapps.com/es.h-cdn.co/fotoes/images/cinefilia/que-tienes-de-ron-weasley/120274313-1-esl-ES/Que-tienes-de-Ron-Weasley.jpg" alt="profile pic of hermione">
                                    <div class="d-flex flex-column pl-3">
                                        <div class="notification-text">Ron added a new comment on your video How to move your hips in salsa</div>
                                        <div class="notification-time text-muted">3 hours ago</div>
                                    </div>
                                </a>
                                <a href="{% url 'video' 18 %}" class="notification-item d-flex">
                                    <img class="circular-picture align-self-center" src="https://pbs.twimg.com/profile_images/552830833568907264/Rg6EfwFc_400x400.jpeg" alt="profile pic of hermione">
                                    <div class="d-flex flex-column pl-3">
                                        <div class="notification-text">Albus uploaded a new video How to perfect your basic step</div>
                                        <div class="notification-time text-muted">1 day ago</div>
                                    </div>
                                </a>
                                <!-- <div class="notification-item d-flex">
                                    <div">You do not have any notifications.</div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
            {% endif %}
        </nav>

        


        <div class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>
        <!--Javascript-->
        <script src="{% static 'danceapp/resize.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>

</html>