{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="An online platform for teachers to share class videos with their online students.">
        <title>{% block title %}Dance app{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'danceapp/css/styles.css' %}">
        <script src="https://kit.fontawesome.com/ee1e4d6724.js" crossorigin="anonymous"></script>
        {% if user.is_authenticated %}
            <script src="{% static 'danceapp/js/notifications.js' %}" defer></script>
        {% endif %}
        {% block script %}
        {% endblock %}
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light align-items-center layout-nav">
            <img src="{% static 'danceapp/images/baila.png' %}" alt="Icon for dance app" class="brand-name">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">All Videos</a>
                    </li>
                        {% if user.is_teacher or user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'new_video' %}">Add Video</a>
                        </li>
                        {% endif %}
                        {% if user.is_student %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'saved_videos' %}">Saved Videos</a>
                        </li>
                        {% endif %}

                    {% endif %}
                </ul>
                <ul class="navbar-nav justify-content-end">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user pr-1" aria-hidden="true"></i><strong> {{ user.username }}</strong>
                            </a>
                            
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                            </div>
                        </li>
                        
                    {% else %}
                        <a class="nav-link mx-lg-2" href="{% url 'login' %}">Login</a>
                        <a class="nav-link mx-lg-2 " href="{% url 'register_student' %}">Register</a>
                    {% endif %}
                </ul>
            </div>
            {% if user.is_authenticated and request.path != '/notifications' %}
                <div class="notifications">
                    
                    <div class="my-auto mr-3 notification-icon" id="notification-toggle">
                        <i class="fas fa-bell"></i>
                        
                            <span id="circle" class="{% if user.unread_notifications == 0 %}d-none {% else %}d-flex {% endif %}align-items-center flex-column">
                                {{user.unread_notifications}}
                            </span>
                        
                    </div>
                    
                    <div class="d-none notification-shadow" id="notification-section">
                        <div class="notification-scroll">
                            
                            <div class="d-flex pb-2 px-3 justify-content-between align-items-center border-bottom">
                                
                                <a id="view-notifications" href="{% url 'notifications' %}" class="notification-title font-weight-bold">Notifications</a>

                                {% if notifications %}
                                <div class="d-flex flex-column">
                                    <a class="mark-read" href="javascript:void(0)">Mark all as read</a>
                                </div>
                                {% endif %}
                                
                            </div>

                            {% include "danceapp/notifications_block.html" %}
                        </div>
                    </div>

                </div>
            {% endif %}
        </nav>

        <!-- Password change confirmation message (only on homepage)-->
        {% if request.path == '/' %}
            {% for message in messages %}

                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            {% endfor %}
        {% endif %}

        <div class="container-fluid" style="max-width: 1500px;">
            {% block body %}
            {% endblock %}
        </div>
        <!--Javascript-->
        {% if user.is_authenticated %}
            <script src="{% static 'danceapp/js/resize.js' %}" defer></script>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>

</html>