{% extends "danceapp/layout.html" %}
{% load static %}

{% block title %}Login {% endblock %}

{% block body %}

<div class="d-flex mt-2 mt-sm-5 flex-column align-content-center justify-content-center">
        
    <div class="align-self-center text-center py-5 px-3 px-sm-4 px-md-5">
        <img src="{% static 'danceapp/images/couple.png' %}" alt="Couple dancing together" class="mb-3 login-icon">
        <h2 class="text-center title pb-3">Login</h2>

        {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
            </div>
            <input class="btn btn-lg btn-primary btn-block mt-2 mb-2" type="submit" value="Login">
        </form>

        <small>Don't have an account? <a href="{% url 'register_student' %}">Register as a student here.</a></small>

    </div>

</div>

{% endblock %}