{% extends "danceapp/layout.html" %}
{% load static %}

{% block title %}New Video {% endblock %}

{% block body %}

    <h2 class="text-center title">New Video</h2>

    <div class="row justify-content-center">
        <div class="form-group col-sm-10 col-md-8 col-lg-5">
            <label for="videoInputLink">YouTube URL:</label>
            <input class="form-control" type="text" id="videoInputLink">
            <small id="passwordHelpBlock" class="form-text text-muted">
                Make sure to copy and paste the URL directly from YouTube.
            </small>
            <div class="text-center">
                <button class="btn btn-primary mt-3 btn-block" id="newVideo">Load video</button>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="form-group col-sm-10 col-md-8 col-lg-5" id="newVideoForm" style="display: none;">
            <form action="{% url 'new_video' %}" method="POST" id="video_form">
                {% csrf_token %}

                {% for field in form %}
                    {% if field.name == 'calena_steps' %}
                    <div class="form-group d-none" id="steps">
                        {{ field.label_tag }}
                        <ul class="d-flex flex-wrap">
                            {% for pk, choice in field.field.widget.choices %}
                            <li class="pr-3 pb-2">
                                <label for="id_{{field.name}}_{{ forloop.counter0 }}">
                                <input id="id_{{field.name}}_{{ forloop.counter0 }}" name="{{field.name}}" type="checkbox" value="{{pk}}" />
                                {{ choice }}
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endif %}
                {% endfor %}

                <button type="submit" class="btn btn-primary">Add video</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center mx-2 mx-sm-0 d-none" id="error_container">
        <div class="alert alert-danger mt-4 pt-4 pb-3 col-sm-10 col-md-8 col-lg-5">
            <h5 class="alert-heading">Oops!</h5>
            <p id="error_message"></p>
        </div>
    </div>
    

{% endblock %}

{% block script %}
<script src="{% static 'danceapp/newvideo.js' %}"></script>
{% endblock %}