{% extends "danceapp/layout.html" %}
{% load static %}
{% load humanize %}

{% block title %}Notifications {% endblock %}

{% block body %}
    <div class="row justify-content-center pt-2">
        
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 notification-shadow pt-3 pb-0 px-0">
            <div class="d-flex border-bottom align-items-center justify-content-between px-4 pb-3">
                <h2 class="text-center mb-0">Notifications</h2>
                {% if notifications %}
                    <a class="mark-read" class="my-0" href="javascript:void(0)">Mark all as read</a>
                {% endif %}
            </div>
            
            {% include "danceapp/notifications_block.html" %}

        </div>
    </div>
{% endblock %}