{% extends "danceapp/layout.html" %}

{% block title %}Register {% endblock %}

{% block body %}

<div class="d-flex pt-5 flex-column align-content-centre">

    <div class="align-self-center text-center rounded px-1">

        <h2 class="text-center title pb-3">Register</h2>

        {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% if request.path == "/register" %}
            <form action="{% url 'register_student' %}" method="post">
        {% else %}
            <form action="{% url 'register_teacher' %}" method="post">
        {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" autofocus type="text" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="first_name" placeholder="First name" required> 
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="last_name" placeholder="Surname" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
                </div>
                <input class="btn btn-lg btn-primary btn-block mt-2 mb-2" type="submit" value="Register">
            </form>

        <small>Already have an account? <a href="{% url 'login' %}">Login here.</a></small>

    </div>
    
</div>

{% endblock %}