{% extends "danceapp/layout.html" %}
{% load static %}

{% block body %}

<div class="row justify-content-center align-items-center">
    <h2 class="text-center col-12 my-4">
        Saved videos
    </h2>
    <div class="d-flex flex-wrap justify-content-center align-items-center col-12 col-lg-10 containerVideos" id="videoContainer">
            
    </div>   
    
</div>

{% endblock %}

{% block script %}
<script type="module" src="{% static 'danceapp/js/saved_videos.js' %}"></script>
{% endblock %}