{% extends "danceapp/layout.html" %}
{% load static %}
{% load humanize %}

{% block title %} {{ video.title }} {% endblock %}

{% block body %}
        
    <div class="mx-auto my-4" style="max-width: 900px;">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/{{video.youtube_id}}" frameborder="0" allowfullscreen; modestbranding;></iframe>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-md-11 px-4 px-md-1 mx-sm-auto" style="max-width: 900px;">
            
            <div class="d-flex justify-content-between video-page-title text-pink">
                <h1>{{ video.title }}</h1>
                {% if user.is_student %}
                    <h1 class="pl-2 pr-md-3" data-video_id="{{video.pk}}" id="save-video"><i id="heart-icon" class="{% if user.student in video.saved_by.all %}fas fa-heart{% else %}far fa-heart{% endif %}"></i></h1>
                {% endif %} 
            </div>

            <p style="white-space: pre-line; max-width: 600px;">{{video.description}}</p>
            
            <div id="video-details-mobile" class="font-weight-bold text-pink border-bottom pt-2 pb-1">Video details</div>
            <div class="d-flex py-2 videopage-icons border-bottom">
                <div class="pb-2"><i class="far fa-calendar-alt card-icon"></i> {{ video.class_date|date:"d/m/y"}} </div>
                <div class="pb-2"><i class="fas fa-tags card-icon"></i> {{ video.style }}</div>
                <div class="pb-2"><i class="fab fa-deezer card-icon"></i> {{ video.get_level_display }}</div>
                <div class="d-flex pb-2">
                    {% for teacher in video.teacher.all %}
                        <div class="pr-2"><i class="fas fa-user pr-1 card-icon"></i>{{ teacher }}</div>
                    {% endfor %}
                </div>
            </div>
        
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-md-11 px-4 px-md-1 mx-sm-auto" style="max-width: 900px;">
            
            <div class="pt-3" id="comment_counter_text">
                {% if comments.count > 0 %}
                    {{ comments.count }}{% if comments.count > 1 %} comments{% else %} comment{%endif%}
                {% else %}
                    Be the first to leave a comment!
                {% endif %}
            </div>

            <div class="form-group p-4 border-bottom">
                <form action="{% url 'add_comment' video.id %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex">
                        <img class="circular-picture comment-picture" src="{% if user.profile_picture %}{{ user.profile_picture }}{% else %}{% static 'danceapp/images/no-profile-pic.png' %}{% endif %}" alt="profilepic">
                        {{ comment_form }}

                    </div>
                    <div id="comment-buttons" class="text-right mt-3 d-none">
                        <a id="cancel-comment" class="btn btn-pink-outline mr-2">Cancel</a>
                        <button id="add-comment" class="btn btn-pink">Add comment</button>
                    </div>
                </form>
            </div>

            <div class="comments" style="font-size: 14px;">
                {% for comment in comments %}
                    <div class="comment-item d-flex" id="comment-{{comment.pk}}">
                        <img class="circular-picture comment-picture" src="{% if comment.author.profile_picture %}{{comment.author.profile_picture}}{% else %}{% static 'danceapp/images/no-profile-pic.png' %}{% endif %}" alt="profilepic">
                        <div class="d-flex flex-column pl-3">
                            <div class="d-flex">
                                <div class="comment-name font-weight-bold">{{ comment.author.first_name }} {{ comment.author.last_name }}</div>
                                <div class="comment-time text-muted pl-2">{{ comment.time|naturaltime }}</div>
                                <!-- delete-comment class is used in JavaScript - do not remove -->
                                {% if user == comment.author %}<div class="pl-2 delete-comment" data-comment_id="{{comment.pk}}"><i class="far fa-trash-alt"></i></div>{% endif %}
                            </div>
                            <div class="comment-text">{{ comment.comment }}</div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    

{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'danceapp/js/comments.js' %}" defer></script>
{% if user.is_student %}
    <script type="text/javascript" src="{% static 'danceapp/js/likevideo.js' %}" defer></script>
{% endif %}

{% endblock %}